
{% extends 'app/dummy.html' %}
{% load static %}
{% block title %}
    <title>schooldetails</title>
{% endblock %}

{% block body_block %}

<!-- <img src="{% static 'images/images.jpg' %}" width="500px"> -->
<h2 >Details of iformation of {{schoolobj}}</h2>
<table border="2px">
    <tr>
        <th>SName</th>
        <th>SPrinciple</th>
        <th>SLocation</th>
    </tr>

    <tr>
        <td>{{schoolobj.Sname}}</td>
        <td>{{schoolobj.Sprincipal}}</td>
        <td>{{schoolobj.Slocation}}</td>
    </tr>
</table>

<h2> Student of {{schoolobj}}</h2>

{% for st in schoolobj.students.all %}
<h1>name of the student is {{st.Stname}}</h1>
<h1>age of student is {{st.Stage}}</h1>

{% endfor %}

<a href="{% url 'update' pk=schoolobj.pk %}" class="btn btn-primary">Update</a></h1>
<a href="{% url 'delete' pk=schoolobj.pk %}" class="btn btn-primary">Delete</a></h1>

{% endblock %}


